
.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.container-image{
   border: 2px solid black; 
   width: 250px;
   height: 230px;
   border-radius: 50%;
   transition: 3s;
}

.container-image:hover{
   transform: scaleX(1.3);
 }
#image{
   height: 100%;
   width: 100%;
   border-radius: 100%; 
}
.texte{
    margin-top: 20px;
    color: #fff;
}